{% extends 'base.html' %}

{% block title %}{{ request.user.username }}{% endblock title %}

{% block content %}
    <section class="about" id="about">
       {% if user %}
       <h3>About Me</h3>
                <div class="personal-data hidden">
                    {% for user in users %}
                        <div class="apresentation">
                            <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                            <p>
                                {{ user.about }}
                            </p>
                            <a href="#" id="btn_profile">View Profile</a>
                        </div>
                        <div class="profile">
                            <img src="{{ user.profile.url }}" alt="{{ user.username }}" id="profile">
                        </div>
                    {% endfor %}
                    
                </div>
       {% endif %}
    </section>

    <section class="skill hidden" id="skill">
            <h3 >Tech Skills</h3>
            {% if skills %}
                <div class="tech">
                    <div class="type">
                        <h4>Front-End</h4>
                        <div class="tech-item">
                            {% for skill in skills %}
                                {% if skill.types == 'Front-end' %}
                                    <span>{{ skill.name }}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="type">
                        <h4>Back-End</h4>
                        <div class="tech-item">
                            {% for skill in skills %}
                                {% if skill.types == 'Back-end' %}
                                    <span>{{ skill.name }}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="type">
                        <h4>Desktop</h4>
                        <div class="tech-item">
                            {% for skill in skills %}
                                {% if skill.types == 'Desktop' %}
                                    <span>{{ skill.name }}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="type">
                        <h4>AI/ML</h4>
                        <div class="tech-item">
                            {% for skill in skills %}
                                {% if skill.types == 'AI/ML' %}
                                    <span>{{ skill.name }}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="type">
                        <h4>CI/CD</h4>
                        <div class="tech-item">
                            {% for skill in skills %}
                                {% if skill.types == 'CI/CD' %}
                                    <span>{{ skill.name }}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="type">
                        <h4>UI/UX</h4>
                        <div class="tech-item">
                            {% for skill in skills %}
                                {% if skill.types == 'UI/UX' %}
                                    <span>{{ skill.name }}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
    </section>

    <section class="projects hidden" id="project">
            <h3>Projects</h3>
            {% if projects %}
                <div class="container">
                    {% for project in projects %}
                    <div class="card hidden">
                        <div class="content">
                            <img src="{{ project.image.url }}">
                            <div class="name">
                                <h3>Card Um</h3>
                                <h3>GitHub</h3>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur 
                                adipisicing elit. Accusamus sequi, delectus 
                                hic numquam id nostrum modi temporibus sed 
                                aliquam commodi beatae porro deleniti at 
                                asperiores optio ratione maxime facilis minus.
                            </p>
                            <a href="#">Mais Informacoes</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <article>
                    <a href="#" id="see_more">See More</a>
                </article>
            {% else %}
                <span>Nao exite projectos</span>
            {% endif %}
        
    </section>
{% endblock content %}