{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/estilo.css" %}'>
    <link rel="stylesheet" href='{% static "phosphorIcons/regular/style.css" %}'>
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="text-light">
    <header class="head">
        <div class="logo">
            <h2>My Portfolio</h2>
        </div>
        <span class="bar">|||</span>
        <span class="Xbar">X</span>
        <nav class="navbar menu">
            <ul class="lista">
                <li class="lista-item"><a href="#banner">Home</a></li>
                <li class="lista-item"><a href="#about">About Me</a></li>
                <li class="lista-item"><a href="#skill">Skills</a></li>
                <li class="lista-item"><a href="#project">Projects</a></li>
            </ul>
        </nav>
    </header>

    <main class="container">
        <section class="banner" id="banner">
            <h2>Hello, I'm Domingos Cesar</h2>
            <h4>Software Developer</h4>
            <ul class="lista-banner">
                <li class="banner-lista-item"><a href="#"><i class="ph ph-instagram-logo"></i></a></li>
                <li class="banner-lista-item"><a href="#"><i class="ph ph-linkedin-logo"></i></a></li>
                <li class="banner-lista-item"><a href="#"><i class="ph ph-github-logo"></i></a></li>
            </ul>
            <a href="{{ user.cv.url }}" id="btn_cv" target="_blank">Download CV</a>
        </section>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <section class="media">
            <ul>
                <li><a href="#"><i class="ph ph-facebook-logo"></i></a></li>
                <li><a href="#"><i class="ph ph-telegram-logo"></i></a></li>
                <li><a href="#"><i class="ph ph-whatsapp-logo"></i></a></li>
                <li><a href="#"><i class="ph ph-github-logo"></i></a></li>
            </ul>
        </section>
        <p>
            copyright &copy; Domingos Cesar <span id="date"><script> d = new Date();  document.querySelector('#date').textContent = d.getFullYear();</script></span>
        </p>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/vanilla-tilt.js' %}"></script>
</body>
</html>